* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    background-color: black;
    color: white;
    font-family: 'poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/*
  Header
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header div {
    flex: 0 1 auto;
}

header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display: inline;
}

nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    display: inline;
}

nav a {
    margin-left: 25px;
}

nav a:hover {
    color: slateblue;
}

main h1 {
    font-size: 48px;
}

/*
  Burger menu
*/

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    color: slateblue;
}

.header__hamburger {
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: black;
    color: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.header__nav {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

